:root {
	--emalca-dark-blue: rgb(15, 24, 33);
	--white-text: rgb(240, 240, 240);

}
body {
	background-color: var(--emalca-dark-blue);
	font-family: Tahoma, sans-serif;
	color: var(--white-text);
	margin: 0;
	letter-spacing: 0.05rem;
}
#banner {
	max-width: 360px;
	width: 100vw;
}
select {
	background-color: var(--emalca-dark-blue);
	color: var(--white-text);
	font-size: 0.9rem;
	border-width: 0px;
	padding: 0;
	margin: 0;
}
option {
	font-size: 0.9rem;
}
label {
	font-size: 1rem;
}
button, .button-like {
	border: 2px solid var(--white-text);
	background-color: var(--emalca-dark-blue);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	color: var(--white-text);
	font-size: 1rem;
}
.fieldset {
	border: 2px solid var(--white-text);
	background-color: var(--emalca-dark-blue);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	color: var(--white-text);
	font-size: 1rem;
}
.fieldset span.title {
	font-size: 1.1rem;
}
.important-msg {
	color: rgb(184, 4, 4);
}
h3 {
	font-size: 1.3rem;
}
.full-width {
	margin: 5px;
	max-width: 600px;
	width: 99%;
	font-size: 1.2rem;
}
p {
	font-size: 0.9rem;
}
.listContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}