:root {
	--emalca-dark-blue: rgb(15, 24, 33);
	--white-text: rgb(240, 240, 240);

}
body {
	background-color: var(--emalca-dark-blue);
	font-family: Tahoma, sans-serif;
	color: var(--white-text);
}
button, .button-like {
	border: 2px solid var(--white-text);
	background-color: var(--emalca-dark-blue);
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	letter-spacing: 0.05rem;
	color: var(--white-text);
	font-size: 1.2rem;
}
h3 {
	font-size: 1.3rem;
}
.full-width {
	margin: 5px 1%;
	max-width: 600px;
	width: 99%;
}
select {
	margin: 5px;
	font-size: 1.2rem;
}
.listContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}