:root {
	--emalca-dark-blue: rgb(15, 24, 33);
	--white-text: rgb(240, 240, 240);

}
body {
	background-color: var(--emalca-dark-blue);
	font-family: Tahoma, sans-serif;
	color: var(--white-text);
}
button {
	border: 2px solid var(--white-text);
	background-color: var(--emalca-dark-blue);
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	letter-spacing: 0.05rem;
	color: var(--white-text);
}
label {
	display: block;
}
select {
	margin: 5px;
}
.listContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}